@font-face {
  font-family: 'gagalinregular';
  src: url("fonts/gagalin-regular-webfont.woff2") format("woff2"), url("fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'lifehackmedium';
  src: url("fonts/lifehack_medium-webfont.woff2") format("woff2"), url("fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'ubuntubold';
  src: url("fonts/ubuntu-b-webfont.woff2") format("woff2"), url("fonts/ubuntu-b-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'ubuntulight';
  src: url("fonts/ubuntu-light-webfont.woff2") format("woff2"), url("fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'ubuntumedium';
  src: url("fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("fonts/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'ubunturegular';
  src: url("fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

body {
  margin: 0px;
  padding: 0px; }

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.wrapper {
  width: 100%;
  height: 100%; }

.container {
  width: 1100px;
  margin: 0 auto; }

.container-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px; }

a {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0px; }

.sector {
  width: 100%;
  height: 100vh;
  min-height: 650px; }

.promo {
  background: url("image/texture.png"), url("image/promo-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
  flex-flow: wrap; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90px; }
  .header .logo {
    width: 92px;
    height: 69px;
    margin-top: 12px;
    margin-left: 78px; }

.menu__item-link {
  text-decoration: none;
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase; }

.menu {
  width: 89%;
  margin-top: 11px;
  margin-left: 31px; }
  .menu .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 16px;
    margin-left: 37px; }
    .menu .menu__list .menu__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-right: 14px; }
    .menu .menu__list .menu__item:after {
      content: "";
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: white;
      margin-top: 5px;
      margin-right: 3px;
      margin-left: 14px; }
    .menu .menu__list .menu__item-button {
      width: 97px;
      height: 35px;
      background-color: #e45028;
      border-radius: 5px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-decoration: none;
      color: #ffffff;
      font-family: "Ubuntu", sans-serif;
      font-size: 13px;
      font-weight: 500;
      text-transform: uppercase; }

.promo__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 73%;
  height: 70%;
  margin-left: 92px;
  margin-top: -130px;
  position: relative; }
  .promo__block .promo__image {
    width: 417px;
    height: 424px;
    margin-top: -20px;
    margin-left: 38px; }
  .promo__block .promo__drops {
    background-image: url("image/promo-drops.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 451px;
    height: 241px;
    left: 0;
    top: 0;
    margin-left: 4px;
    margin-top: 48px;
    position: absolute; }
  .promo__block .promo__info-text {
    margin: 0px;
    width: 406px;
    color: #f9b43b;
    font-family: "Gagalin";
    font-size: 70px;
    font-weight: 400;
    margin-top: 113px;
    margin-left: 12px;
    letter-spacing: 1.2px; }
  .promo__block .promo__info-description {
    width: 406px;
    color: #ffffff;
    font-family: "Lifehack";
    font-size: 65px;
    font-weight: 500;
    letter-spacing: -1.63px;
    line-height: 60px;
    margin-top: 22px;
    margin-left: 13px; }

.pagination {
  display: fixed;
  width: 30px;
  height: 200px;
  margin-top: -135px;
  margin-left: 141px; }
  .pagination .pagination__item {
    margin-bottom: 15px; }
    .pagination .pagination__item .pagination__item-style {
      width: 6px;
      height: 6px;
      margin-left: 4px;
      margin-top: 4px;
      border-radius: 50%;
      background-color: #ffffff; }

.pagination__item:first-child {
  margin-bottom: 11px; }

.pagination__item-active {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  background-color: transparent;
  margin-bottom: 11px;
  margin-left: -1px; }

.promo__scroll {
  width: 29px;
  height: 14px;
  background: url("image/arrow-scroll.png");
  display: block; }

.about {
  background-image: url("image/bg-about.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .about .about__title {
    color: #2f3234;
    font-family: "Gagalin";
    font-size: 72px;
    font-weight: 400;
    margin-top: 113px;
    margin-left: 358px; }
  .about .about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 82px;
    margin-top: 33px; }

.about__item {
  width: 285px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .about__item .about__item-title {
    color: #2f3234;
    font-family: "Lifehack";
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.6px;
    text-align: center;
    margin-top: 25px;
    margin-left: 3px;
    line-height: 33px; }
  .about__item .about__item-description {
    width: 287px;
    opacity: 0.8;
    color: #2f3234;
    font-family: "Ubuntu";
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin-top: 15px;
    margin-left: 4px;
    line-height: 24px; }

.about__item:last-child .about__item-description {
  margin-top: -1px;
  margin-left: 3px; }

.about__item:nth-child(2) {
  margin-left: 35px;
  margin-right: 36px; }

.about__item:first-child .about__item-icon {
  background-image: url("image/meat.png");
  width: 97px;
  height: 89px;
  margin-left: 99px;
  margin-top: 11px; }

.about__item:nth-child(2) .about__item-icon {
  background-image: url("image/hand.png");
  width: 73px;
  height: 85px;
  margin-top: 11px;
  margin-left: 110px;
  margin-bottom: 3px; }

.about__item:last-child .about__item-icon {
  background-image: url("image/natural.png");
  width: 88px;
  height: 75px;
  margin-top: 14px;
  margin-left: 103px;
  margin-bottom: 14px; }

.description__scroll-prev {
  width: 17px;
  height: 27px;
  background-image: url("image/scroll-left.png");
  background-repeat: no-repeat;
  margin-top: 311px;
  margin-left: 47px;
  position: relative;
  z-index: 20; }

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f9b43b;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f9b43b), color-stop(48%, #eb8c38), color-stop(74%, #f9b43b), to(#f9b43b));
  background-image: -webkit-linear-gradient(bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  background-image: -o-linear-gradient(bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  background-image: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%); }
  .description .description__composition {
    width: 460px;
    height: 530px;
    margin-top: 77px;
    margin-left: -17px; }
    .description .description__composition .description__composition-button {
      border: none;
      width: 90px;
      height: 90px;
      background-color: transparent;
      background-color: rgba(227, 80, 40, 0.4);
      border-radius: 5px;
      background-image: url("image/burger.png");
      background-repeat: no-repeat;
      background-position: 22px 15px;
      opacity: 0.7;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-top: 13px;
      margin-left: 33px; }
      .description .description__composition .description__composition-button .description__composition-text {
        color: #ffffff;
        font-family: "Gagalin";
        font-size: 14px;
        font-weight: 400;
        margin-top: 54px;
        margin-left: 17px; }
    .description .description__composition .description__composition-image {
      margin-top: -13px;
      margin-left: 0px; }
  .description .description__info {
    width: 480px;
    height: 400px;
    margin-top: 135px;
    margin-left: 54px; }
    .description .description__info .description__info-title {
      color: #ffffff;
      font-family: "Gagalin";
      font-size: 72px;
      font-weight: 400;
      line-height: 65px; }
    .description .description__info .description__info-text {
      width: 443px;
      color: #ffffff;
      font-family: "Ubuntu";
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
      margin-top: 45px; }
    .description .description__info .description__info-buy {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      color: #e35028;
      font-family: "Gagalin";
      font-size: 30px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: -0.7px;
      margin-top: 39px; }
      .description .description__info .description__info-buy .description__info-buy-price {
        font-size: 72px;
        letter-spacing: -1.8px; }
      .description .description__info .description__info-buy .description__info-buy-valute {
        margin-left: 6px;
        margin-top: 18px; }
      .description .description__info .description__info-buy .description__info-buy-button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 97px;
        height: 35px;
        background-color: #e45028;
        border-radius: 5px;
        width: 66px;
        color: #ffffff;
        font-family: "Ubuntu";
        font-size: 13px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.1px;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 18px;
        margin-left: 30px; }

.description__composition-calories {
  width: 60px;
  height: 60px;
  background: url("image/calories.png") no-repeat;
  opacity: 0.5;
  color: #ffffff;
  font-family: "Gagalin";
  font-size: 20px;
  font-weight: 400;
  padding-top: 27px;
  padding-left: 13px;
  margin-top: -15px;
  margin-left: 33px; }
  .description__composition-calories .description__composition-calories-number {
    margin-top: 10px;
    margin-left: 2px;
    font-size: 14px; }

.description__scroll-next {
  width: 17px;
  height: 27px;
  background-image: url("image/scroll-right.png");
  background-repeat: no-repeat;
  margin-top: 311px;
  margin-left: -2px;
  position: relative;
  z-index: 20; }

.reviews .reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
  flex-flow: wrap; }
  .reviews .reviews__list .reviews__item {
    position: relative;
    width: 25%;
    min-height: 325px; }
    .reviews .reviews__list .reviews__item .reviews__image {
      width: 100%;
      height: 100%;
      background-size: cover;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%); }

.reviews__item-effect {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  top: 0;
  left: 0;
  -webkit-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s; }

.reviews__item:hover .reviews__item-effect {
  opacity: 0.6; }

.reviews__description {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s; }
  .reviews__description-title {
    color: #ffffff;
    font-family: "Gagalin";
    font-size: 14px;
    font-weight: 400;
    margin-top: 45px;
    margin-left: 20px; }
  .reviews__description-text {
    width: 226px;
    height: 133px;
    color: #ffffff;
    font-family: "Ubuntu";
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 21px;
    margin-left: 20px; }
  .reviews__description-button {
    text-decoration: none;
    width: 110px;
    height: 35px;
    background-color: #2f3234;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #ffffff;
    font-family: "Ubuntu";
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 23px;
    margin-left: 20px; }

.reviews__item:hover .reviews__description {
  opacity: 1; }
