.description__scroll-prev {
    width: 27px;
    height: 17px;
    background-repeat: no-repeat;
    margin-top: 317px;
    margin-left: 40px;
    position: relative;
    transform: rotate(90deg);
    z-index: 20;
}
.description {
    display: flex;
    background-color: #f9b43b;
    background-image: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
    .description__composition {
        width: 460px;
        height: 530px;
        margin-top: 77px;
        margin-left: -20px;
        .description__composition-button {
            border: none;
            width: 90px;
            height: 90px;
            background-color: transparent;
            background-color: rgba(227,80,40,0.4);
            border-radius: 5px;
            background-image: url('image/burger.png');
            background-repeat: no-repeat;
            background-position: 22px 15px;
            opacity: 0.7;
            display: flex;
            margin-top: 13px;
            margin-left: 33px;
            cursor: pointer;
            .description__composition-text {
                color: #ffffff;
                font-family: "gagalinregular";
                font-size: 14px;
                font-weight: 400;
                margin-top: 54px;
                margin-left: 17px;
            }
        }
        .description__composition-image {
            margin-top: -13px;
            margin-left: 0px;
        }
    }
    .description__info {
        width: 480px;
        height: 400px;
        margin-top: 135px;
        margin-left: 54px;
        .description__info-title {
            color: #ffffff;
            font-family: "gagalinregular";
            font-size: 72px;
            font-weight: 400;
            line-height: 65px;
            margin-top: 3px;
        }
        .description__info-text {
            width: 443px;
            color: #ffffff;
            font-family: "ubuntulight";
            font-size: 14px;
            font-weight: 300;
            line-height: 24px;
            margin-top: 42px;
        }
        .description__info-buy {
            display: flex;
            color: #e35028;
            font-family: "ubunturegular";
            font-size: 30px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: -0.7px;
            margin-top: 39px;
            .description__info-buy-price {
                font-size: 72px;
                letter-spacing: -1.8px;
                font-family: "gagalinregular";
                margin-top: 6px;
            }
            .description__info-buy-valute {
                margin-left: 6px;
                margin-top: 20px;
                font-family: "gagalinregular";
            }
            .description__info-buy-button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 97px;
                height: 35px;
                background-color: #e45028;
                border-radius: 5px;
                width: 66px;
                color: #ffffff;
                font-family: "ubuntumedium";
                font-size: 13px;
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: 0.1px;
                padding-left: 15px;
                padding-right: 15px;
                margin-top: 18px;
                margin-left: 30px;
            }
        }
        
    }
}
.description__composition-calories-block {
    width: 60px;
    height: 76px;
    color: #ffffff;
    font-family: "gagalinregular";
    font-size: 20px;
    font-weight: 400;
    margin-top: -15px;
    margin-left: 33px;
    position: relative;
    .description__composition-calories-icon {
        width: 60px;
        height: 60px;
        position: absolute;
        top: 0;
        left: 0;
    }
    .description__composition-calories-number {
        margin-top: 10px;
        margin-left: 2px;
        font-size: 20px;
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 14px;
        margin-top: 27px;
    }
    .description__composition-calories-name {
        margin-top: 10px;
        margin-left: 2px;
        font-size: 14px;
        position: absolute;
        bottom: 0;
        left: 0;
        margin-left: 16px;
        margin-bottom: 2px;
    }
}
.description__scroll-next {
    width: 27px;
    height: 17px;
    margin-top: 317px;
    margin-left: -8px;
    position: relative;
    transform: rotate(-90deg);
    z-index: 20;
}