.promo {
    background: linear-gradient( bottom right, black, rgba(0, 0, 0, 0.6)), url('image/texture.png'), url('image/promo-image.png');
    background-repeat: no-repeat;
    background-position: center, center, center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-flow: wrap;
    
}
.header {
    display: flex;
    height: 90px;
    .logo {
        width: 92px;
        height: 69px;
        margin-top: 12px;
        margin-left: 78px;
    }
}
.menu__item-link {
    text-decoration: none;
    color: #ffffff;
    font-family: "ubuntumedium", sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    transition-duration: 1s;
    
    &:hover {
        text-decoration: underline;
    }
}




.menu {
    width: 89%;
    margin-top: 11px;
    margin-left: 31px;
    .menu__list {
        display: flex;
        align-items: center;
        margin-top: 16px;
        margin-left: 37px;
        .menu__item {
            display: flex;
            margin-right: 14px;
            &:after {
                content: "";
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: white;
                margin-top: 5px;
                margin-right: 3px;
                margin-left: 14px;
            }
        }
        .menu__item {
            &:nth-child(7) {
                &:after {
                    display: none;
                }
            }
        }
        .menu__item-button .menu__item-button-link {
            width: 97px;
            height: 35px;
            background-color: #e45028;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: #ffffff;
            font-family: "ubuntumedium", sans-serif;
            font-size: 13px;
            font-weight: 500;
            text-transform: uppercase;
            transition: 0.2s;
            &:hover {
                transform: scale(1.06);
            }
        }
    }
}


.promo__block {
    display: flex;
    width: 73%;
    height: 70%;
    margin-left: 92px;
    margin-top: -130px;
    position: relative;
    .promo__image {
        width: 417px;
        height: 424px;
        margin-top: -32px;
        margin-left: 38px;
    }
    .promo__drops {
        background-image: url('image/promo-drops.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 451px;
        height: 241px;
        left: 0;
        top: 0;
        margin-left: 4px;
        margin-top: 34px;
        position: absolute;
    }
    .promo__info-text {
        margin: 0px;
        width: 406px;
        color: #f9b43b;
        font-family: "gagalinregular";
        font-size: 70px;
        font-weight: 400;
        margin-top: 105px;
        margin-left: 12px;
        letter-spacing: 1.2px;
    }
    .promo__info-description {
        width: 406px;
        color: #ffffff;
        font-family: "lifehackmedium";
        font-size: 65px;
        font-weight: 500;
        letter-spacing: -1.63px;
        line-height: 60px;
        margin-top: 22px;
        margin-left: 13px;
    }
}
.pagination {
    position: fixed;
    top: 91px;
    right: 48px;
    width: 16px;
    height: 200px;
    .pagination__item {
        margin-bottom: 15px;
            .pagination__item-style {
                width: 6px;
                height: 6px;
                margin-left: 4px;
                margin-top: 4px;
                border-radius: 50%;
                background-color: #ffffff;  
            }
    }
}
.pagination__item:first-child {
    margin-bottom: 11px;
}
.pagination__item-active {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    background-color: transparent;
    margin-bottom: 11px;
    margin-left: -1px;
}
.promo__scroll {
    width: 29px;
    height: 14px;
    background: url('image/arrow-scroll.png');
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 48.5%;
    margin-bottom: 45px;
}